# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Credentials / secrets
credentials.json
token.json
25CS60R13_Agent_Output.pdf

# OS files
.DS_Store

# IDE
.vscode/